@model KillerAppV2ASP.ViewModels.EnemyViewModel
@{
    ViewBag.Title = "Combat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h2>Combat</h2>
</div>
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-4">
            <p>@Model.EnemyList[0].Name</p>
            <p id="enemy1hp">@Model.EnemyList[0].Health</p>

            <input type="button" value="attack" id="attack1" name="attack1" class="btn btn-success"/>
        </div>
        <div class="col-lg-4">
            <p>@Model.EnemyList[1].Name</p>
            <p id="enemy2hp">@Model.EnemyList[1].Health</p>

            <input type="button" value="attack" id="attack2" name="attack2" class="btn btn-success" />
        </div>
        <div class="col-lg-4">
            <p>@Model.EnemyList[2].Name</p>
            <p id="enemy3hp">@Model.EnemyList[2].Health</p>

            <input type="button" value="attack" id="attack3" name="attack3" class="btn btn-success" />
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.1.1.js"></script>
<script>

    $("#attack1").click(function (e) {
        e.preventDefault();
            $.ajax({
                url: "/RPG/Damageunit",
                type: "POST",
                data: {dmg: 50, id: 1},
                success: function () {
                    if ($("#enemy1hp").text() > 0) {
                        $("#enemy1hp").text($("#enemy1hp").text() - 50);
                    }
                    if ($("#enemy1hp").text() == 0 && $("#enemy2hp").text() == 0 && $("#enemy3hp").text() == 0) {
                        window.location.href = '@Url.Action("ReturnFromCombat", "RPG")';
                    }
            },
                error: function () {
                    alert("Fail");
            }
        });

    });
    $("#attack2").click(function (e) {
        e.preventDefault();
        $.ajax({
            url: "/RPG/Damageunit",
            type: "POST",
            data: { dmg: 50, id:2 },
            success: function () {
                if ($("#enemy2hp").text() > 0) {
                    $("#enemy2hp").text($("#enemy2hp").text() - 50);
                }
                if ($("#enemy1hp").text() == 0 && $("#enemy2hp").text() == 0 && $("#enemy3hp").text() == 0) {
                        window.location.href = '@Url.Action("ReturnFromCombat", "RPG")';
                }
            },
            error: function () {
                alert("Fail");
            }
        });

    });
    $("#attack3").click(function (e) {
        e.preventDefault();
        $.ajax({
            url: "/RPG/Damageunit",
            type: "POST",
            data: { dmg: 50, id:3 },
            success: function () {
                if ($("#enemy3hp").text() > 0) {
                    $("#enemy3hp").text($("#enemy3hp").text() - 50);
                }
                if ($("#enemy1hp").text() == 0 && $("#enemy2hp").text() == 0 && $("#enemy3hp").text() == 0) {
                        window.location.href = '@Url.Action("ReturnFromCombat", "RPG")';
                }
            },
            error: function () {
                alert("Fail");
            }
        });

    });

</script>