@using KillerAppV2ASP.Models
@model KillerAppV2ASP.ViewModels.EventsViewModel
@{
    ViewBag.Title = "RPGgame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RPGgame Story</h2>


<div class="row">
    <div class="col-lg-5">
        @if (Model.EventsSystem.ScenarioList.Count >= (Convert.ToInt32(Session["PlayerProgression"])))
        {
            <p>@Model.EventsSystem.ScenarioList[Convert.ToInt32(Session["PlayerProgression"]) - 1].Text</p>
        }
    </div>
    <div class="col-lg-5">
        <p></p>
    </div>
    <div class="col-lg-12">
        <p> Kies hier je commando </p>
        @if ((string)Session["Button1Name"] != "n")
        {
            <a class="btn btn-success" id="btncmd1" href="@Url.Action("RedirectToCommand", "RPG", new {command = "Action1"})"> @Session["Button1Name"] </a>
        }
        @if ((string)Session["Button2Name"] != "n")
        {
            <a class="btn btn-success" id="btncmd2" href="@Url.Action("RedirectToCommand", "RPG", new {command = "Action2"})"> @Session["Button2Name"] </a>
        }
    </div>
    <p>@Convert.ToInt32(Session["PlayerProgression"]) - 1]</p>
</div>